name: Wechat Dest Version

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:
    inputs:
      download_link:
        description: 'The manual WechatSetup.exe download link'
        required: false
        default: 'https://dldir1v6.qq.com/weixin/Universal/Windows/WeChatWin.exe'

jobs:
  save_new_wechat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          # 使用一个您偏好的 Go 版本
          go-version: '1.24'
          
      - name: Install pup (HTML Parser)
        run: |
          # 使用 go install 安装 pup
          go install github.com/ericchiang/pup@latest
          
          # 确保 GOPATH/bin 目录在 PATH 中 (GitHub Actions默认应该配置了，但这里显式添加更保险)
          # echo "::add-path::$(go env GOPATH)/bin"
          
          # 验证安装是否成功
          pup --version
          
      - name: Run Shell Script with pup
        # 赋予脚本执行权限
        run: chmod +x ./scripts/grab_link.sh
        
      - name: Execute Shell Script
        id: scrape_output
        run: |
          # 执行您的脚本，并将结果捕获
          LINK_RESULT=$(./scripts/grab_link.sh)
          
          echo "Captured Link: $LINK_RESULT"
          
          # 将结果设置为 output 供后续步骤使用
          # echo "::set-output name=download_link::$LINK_RESULT"
          echo  "download_link=$LINK_RESULT" >> $GITHUB_OUTPUT
          
      - name: Check new version and push
    
        env: 
          GHTOKEN: ${{ secrets.GH_TOKEN }}
        run: bash -x ./scripts/destVersionRelease.sh ${{ steps.scrape_output.outputs.download_link }}
